:root
{
    --notesapp-btn-bg-color: var(--palette-color-1-light-main-theme);
    --notesapp-btn-hover-bg-color: var(--palette-color-2-dark-main-theme);

    --notesapp-btn-txt-color: var(--palette-color-2-dark-main-theme);
    --notesapp-btn-hover-txt-color: var(--palette-color-1-light-main-theme);
    --notesapp-btn-disabled-txt-color: #999;

    --notesapp-btn-border-color: var(--palette-color-2-dark-main-theme);
    --notesapp-btn-disabled-border-color: #999;
    --notesapp-btn-shadow-color: #EEE;

    --notesapp-btn-danger-hover-bg-color: #ff1744;
    --notesapp-btn-danger-hover-txt-color: #FAFAFA;
    --notesapp-btn-danger-hover-border-color: var(--notesapp-btn-danger-hover-bg-color);
}

.floating-action-btn-round
{
    position: fixed;
    bottom: 70px;
    right: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    font-weight: bold;

    box-shadow: 1px 1px 5px 0 #555;

    span
    {
        display: inline-block;
    }
}

.notes-app-btn
{
    padding: 3px 15px;
    border: 1px solid var(--notesapp-btn-border-color);
    background: var(--notesapp-btn-bg-color);
    color: var(--notesapp-btn-txt-color);
    font-size: 1.05rem;
    border-radius: 2px;

    transition: background-color 120ms ease,
                color 120ms ease,
                box-shadow 120ms ease;

    &:hover:enabled
    {
        background-color: var(--notesapp-btn-hover-bg-color);
        color: var(--notesapp-btn-hover-txt-color);
    }

    &:disabled
    {
        color: var(--notesapp-btn-disabled-txt-color);
        border-color: var(--notesapp-btn-disabled-border-color);
        box-shadow: none;
    }

    &--shadow
    {
        box-shadow: 2px 2px 1px var(--notesapp-btn-shadow-color);
    }

    &--danger:hover:enabled
    {
        background-color: var(--notesapp-btn-danger-hover-bg-color);
        color: var(--notesapp-btn-danger-hover-txt-color);
        border-color: var(--notesapp-btn-danger-hover-border-color);
    }
}

.notes-app-add-item-btn
{
    padding: 7px 15px;
    // margin-left: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: stretch;

    border: none;
    background-color: var(--accent-color);
    color: #FEFEFE;

    transition: background-color 170ms ease;

    .icon-inner, span
    {
        color: #FFF;
        font-weight: 900;
        font-size: 1.2rem;
        display: inline-block;
    }

    &:enabled:hover
    {
        background-color: var(--accent-color-d20);
    }

    &:disabled
    {
        color: #777;
        background-color: #DDD;
    }
}


@media only screen and (min-width: 800px)
{
    .notes-app-add-item-btn
    {
        position: fixed;
        bottom: 40px;
        right: 40px;

        width: 50px;
        height: 50px;

        border-radius: 50%;
        box-shadow: 3px 3px 5px #BBB;
    }
}