:root
{
    --isolated-form-border-color: #AAA;
    --isolated-form-bg-color: #FEFEFE;
    
    --isolated-form-title-bg-color: #{$left-side-bar-bg-color};
    --isolated-form-title-txt-color: #FEFEFE;

    --isolated-form-input-bg-color: #FEFEFE;
    --isolated-form-input-border-color: #CCC;
    --isolated-form-input-txt-font: #{$main-font};
    --isolated-form-bxshdw-color: #{darken($main-bg-color, 20%)};

    --isolated-form-submit-btn-bg-color: #{darken($accent-color-1, 10%)};
    --isolated-form-submit-btn-txt-color: #FFF;
    --isolated-form-submit-btn-bg-color-hover: #{darken($accent-color-1, 20%)};
}

.form-container-isolated
{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    // padding: 20px;
    // min-height: 400px;
    background-color: var(--isolated-form-bg-color);
    border: 1px solid var(--isolated-form-border-color);
    box-shadow: 0 0 10px var(--isolated-form-bxshdw-color);

    input
    {
        display: block;
        width: 100%;
        outline: none;
        border: none;
        background-color: var(--isolated-form-input-bg-color);
        border: 1px solid var(--isolated-form-input-border-color);
        font-family: var(--isolated-form-input-txt-font);
        font-size: 1rem;
    }

    input[type="text"],
    input[type="password"]
    {
        padding: 7px 15px;
    }

    input[type="submit"]
    {
        margin-top: 40px;
        padding: 7px 35px;
        width: auto;
        background-color: var(--isolated-form-submit-btn-bg-color);
        border-color: var(--isolated-form-submit-btn-bg-color);
        color: var(--isolated-form-submit-btn-txt-color);
        border-radius: 2px;
        transition: background-color 150ms linear,
                    border-color 150ms linear;
        word-spacing: .2em;
        &:hover
        {
            background-color: var(--isolated-form-submit-btn-bg-color-hover);
            border-color: var(--isolated-form-submit-btn-bg-color-hover);
        }
    }

    label
    {
        display: none;
    }
}

form,
.form-row,
.form-input-container
{
    width: 100%;
}

// form
// {
//     padding: 30px 20px;
// }

.form-title
{
    // margin-bottom: 30px;
    padding: 10px 20px;
    background-color: var(--isolated-form-title-bg-color);
    color: var(--isolated-form-title-txt-color);
}

.form-row
{
    margin-bottom: 15px;
    &:last-of-type
    {
        margin-bottom: 0;
    }
}

.form-button-group
{
    display: flex;
    justify-content: center;
}

.form-type-change-btn
{
    margin: 13px 0 3px;
    border: none;
    outline: none;
    background: none;
    color: #2222FF;
    opacity: .7;

    &:hover, &:focus
    {
        text-decoration: underline;
    }
}


:root
{
    --form-title-txt-color: #333;
    --form-label-txt-color: #333;
    --form-input-field-border-color: #AAA;
    --form-input-field-bg-color: #FEFEFE;
    --form-input-field-focus-border-color: #333;
    --form-input-field-txt-color: #555;
    --form-input-field-active-txt-color: #333;
}

.form__padding-container
{
    width: 100%;
    padding: 0 7px;
}

.form__main-container
{
    background-color: #FAFAFA;
    border: 1px solid #AAA;
    border-radius: 2px;
}

.form__title
{
    padding-top: 13px;
    text-align: center;
    color: var(--form-title-txt-color);
}

// includes all field-containers
// used to add padding without affecting the title header
.form__container
{
    padding: 0 10px;
}

// contains a label, an input field, and an error message
.form__field-container
{
    // border: 1px dotted red;
    position: relative;
    font-family: var(--main-font);
    font-size: 1.05rem;
}

.form__label,
.form__input-field
{
    padding: 7px 12px;
}

.form__label
{
    // border: 1px dotted blue;
    display: inline-block;
    padding-left: 0;
    color: var(--form-label-txt-color);

    &:focus
    {
        color: red;
    }
}

.form__input-field
{
    // border: 1px dotted green;
    position: relative;
    display: block;
    width: 100%;
    border: 1px solid var(--form-input-field-border-color);
    border-radius: 2px;
    outline: none; // DEBUG!
    font-size: inherit;
    font-family: inherit;
    // color: inherit;
    color: var(--form-input-field-txt-color);
    background-color: var(--form-input-field-bg-color);

    transition: border-color 120ms ease,
                color 120ms ease;

    &:focus
    {
        border-color: var(--form-input-field-focus-border-color);
        color: var(--form-input-field-active-txt-color);
    }

    &--invalid, &--invalid:focus
    {
        --form-input-field-invalid-border-color: #FA2222;
        border-color: var(--form-input-field-invalid-border-color);
    }

    &--validated, &--validated:focus
    {
        --form-input-field-validated-border-color: #22DA22;
        border-color: var(--form-input-field-validated-border-color);
    }
}

.form__button-group
{
    margin-top: 30px;
    display: flex;
    justify-content: flex-end;

    // &:last-child
    // {
    //     margin-right: 0;
    // }

    &--centered
    {
        justify-content: center;
    }
}

.form__button
{
    padding: 5px 20px;
    margin-right: 15px;

    &:last-child
    {
        margin-right: 0;
    }
}

.form__error-messages-container
{
    display: flex;
    flex-flow: column nowrap;

    position: absolute;
    top:0;
    left:0;

    // border: 1px dashed #EE22EE;
    transform: translateY(10px);
    visibility: hidden;

    transition: transform 170ms ease,
                color 170ms ease,
                opacity 50ms ease;

    &--active
    {
        position: static;
        visibility: visible;
        transform: translateY(0);
    }
}

.form__error-message-container
{
    display: flex;
    align-items: center;
    padding-top: 10px;
    color: #FA2222;
    font-size: 1.2rem;

    & > *
    {
        display: inline-block;
        padding: 0;
        margin: 0;
    }

    ion-icon
    {
        margin-right: 10px;
    }
}

.form__error-message
{
    font-size: 1rem;
}