.user-logout-container
{
    display: flex;
    justify-content: space-between;
    align-items: center;

    .username-header
    {
        padding: 5px 10px;
        margin: 0;
        display: inline-block;
        color: #FAFAFA;
    }

    .logout-button-container
    {
        height: 100%;
        display: inline-block;
        margin-left: auto;
    }

    button
    {
        --accent-color-1: #33dabd;
        --button-hover-bg-color: hsl(from var(--accent-color-1) h s calc(l - 5%));
        --button-hover-bg-color: #21b69c;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        border: none;
        outline: none;
        background: none;
        background-color: var(--accent-color-1);
        color: #FFF;
        font-size: 1.5rem;
        font-weight: bold;
        padding: 10px 10px;
        transition: background-color 130ms linear;

        &:hover
        {
            background-color: var(--button-hover-bg-color);
        }
    }
}