$accent-color-1: #33dabd;

$main-bg-color: #f3f5f6;
$left-side-bar-bg-color: #3f4a59;
$main-navigation-active-item-bg-color: $accent-color-1;

// pagination
$pagination-border-color: #AAA;
$pagination-button-bg-hover-color: lighten($left-side-bar-bg-color, 63%);
$pagination-button-txt-hover-color: #333;

// end: pagination