:root
{
    --accent-color: #33dabd;

    //***************************************************************
    //                     Main App Container
    //***************************************************************
    --main-navigation-bg-color: #3f4a59;
    --app-main-section-bg-color: #f3f5f6;


    //***************************************************************
    //                     Main Navigation
    //***************************************************************
    --navmenu-item-txt-color: #FEFEFE;
    --navmenu-item-hover-txt-color: #FFF;
    --navmenu-item-hover-bg-color: var(--accent-color);
    --navmenu-item-active-bg-color: var(--accent-color);
    --navmenu-item-separator-color: #313841;
    --navmenu-item-bg-color: var(--app-main-section-bg-color);

    // user info
    --main-navigation-user-header-txt-color: #FAFAFA;
    // logout button
    --navmenu-logout-btn-bg-color: var(--accent-color);
    --navmenu-logout-btn-bg-color: var(--main-navigation-bg-color);
    // --navmenu-logout-btn-hover-bg-color: #21b69c;
    --navmenu-logout-btn-hover-bg-color: var(--accent-color);
    --navmenu-logout-btn-txt-color: #FFF;
    --navmenu-logout-btn-shadow-color: #333;
    --main-navigation-mobile-bg-color: #FAFAFA;
    // shadow 1: the horizontal mobile menu bar
    --main-navigation-mobile-shadow-color: #777;
    // shadow 2: the vertical mobile menu bar
    --main-navigation-mobile-shadow-2-color: #555;
    // mobile-navbar-toggle-btn
    --main-navigation-mobile-button-focus-bg-color: #E2E2E2;
    --main-navigation-mobile-button-border-color: #333;
    --main-navigation-mobile-button-icon-color: #333;
    --main-navigation-mobile-button-icon-hover-color: #222;
    --main-navigation-mobile-menuitem-selected-left-border-color: #00b0ff;
    --main-navigation-mobile-menuitem-selected-left-border-color: var(--accent-color);
    --main-navigation-mobile-menuitem-selected-bg-color: #465263;
    --main-navigation-menuitem-btn-bg-color: var(--main-navigation-bg-color);
    --main-navigation-menuitem-btn-txt-color: #FAFAFA;
    --main-navigation-menuitem-separator-color: #323b47;
    

    //***************************************************************
    //                     Multi-Action Button
    //***************************************************************
    // open/close action list button
    --multi-action-btn-bg-color: #EEE;
    --multi-action-btn-hover-bg-color: #FEFEFE;
    --multi-action-btn-icon-color: var(--main-navigation-bg-color);
    --multi-action-btn-shadow-color: #333;
    --multi-action-btn-border-color: #333;
    // list container
    --multi-action-btn-action-list-bg-color: #FFF;
    // --multi-action-btn-action-list-border-color: #333;
    --multi-action-btn-action-list-border-color: #999;
    // action
    --multi-action-btn-action-bg-color: var(--multi-action-btn-action-list-bg-color);
    --multi-action-btn-action-txt-color: #444;
    --multi-action-btn-action-hover-bg-color: #f2f3f6;
    --multi-action-btn-action-separator-color: #999;
    // action warning
    --multi-action-btn-action-hover-bg-warning-color: #ff8585;
    // --multi-action-btn-action-hover-txt-warning-color: #FAFAFA;
    --multi-action-btn-action-hover-txt-warning-color: #d50000;
}

$accent-color-1: #33dabd;

$main-bg-color: #f3f5f6;
$left-side-bar-bg-color: #3f4a59;
$main-navigation-active-item-bg-color: $accent-color-1;

// pagination
$pagination-border-color: #AAA;
$pagination-button-bg-hover-color: lighten($left-side-bar-bg-color, 63%);
$pagination-button-txt-hover-color: #333;

// end: pagination