:root
{
    //***************************************************************
    //                     Main Navigation
    //***************************************************************
    --navmenu-item-selector-size: 18px;
    --main-navigation-mobile-height: 45px;
    --main-navigation-mobile-button-icon-size: 30px;
}