:root
{
    --datetimepicker-debug-border-size: 2px;
    --datetime-picker-container-height: 550px;
    --datetime-picker-header-height: 70px;
    --datetime-picker-footer-height: 120px;
    --datetime-picker-body-height: calc(
        var(--datetime-picker-container-height) -
        var(--datetime-picker-header-height) -
        var(--datetime-picker-footer-height) -
        (2*var(--datetimepicker-debug-border-size)));
}

.datetime-filter-main-container
{
    width: 550px;
    height: var(--datetime-picker-container-height);
    border: var(--datetimepicker-debug-border-size) dashed #FF2222;
}

.datetime-filter-header
{
    padding: 10px;
    width: 100%;
    height: var(--datetime-picker-header-height);
    background-color: #333;
    background-color: transparent;

}

.datetime-filter-body
{
    width: 100%;
    height: var(--datetime-picker-body-height);
    // background-color: #22FF22;
    background-color: #FAFAFA;
}

.datetime-filter-footer
{
    width: 100%;
    height: var(--datetime-picker-footer-height);
    background-color: #FAFAFA;
}








//*******************************************

$accent-color0: #34F;
$accent-color1: #192BC2;
$accent-color: #00A5CF;
$accent-color2: #ff685d;
$accent-txt-color: #F7F0F5;
$accent-txt-color: #fcfcfc;

$main-color: #fefefc;
$accent-color: #21282b;
$accent-color-light: #f3f3f3;

// delete
$box-shadow-color: rgb(200, 200, 200);
// /delete

// Date Picker Container
$date-picker-container-bg-color: #fafafa;
$date-picker-container-box-shadow-color: rgb(200, 200, 200);

// Header
$date-picker-header-bg-color: $accent-color;
$date-picker-header-hover-bg-color: lighten($accent-color, 10%);
$date-picker-month-name-color: $accent-color-light;

$date-picker-year-input-bg-color: $accent-color;
$date-picker-year-input-txt-color: $accent-color-light;
$date-picker-year-hover-bg-color: lighten($accent-color, 10%);

$date-picker-header-button-bg-color: $accent-color;
$date-picker-header-button-txt-color: $accent-color-light;
$date-picker-header-button-hover-bg-color: lighten($accent-color, 10%);

// Content
$date-picker-content-bg-color: $accent-color-light;
$date-picker-day-name-color: #333;
$date-picker-sunday-color: #ff685d;

$date-picker-day-number-color: $accent-color;
$date-picker-day-number-hover-bg-color: #009688;
// $date-picker-day-number-hover-bg-color: darken($accent-color, 10%);
$date-picker-day-number-hover-txt-color: #fff;


$date-picker-month-picker-txt-color: $accent-color;
$date-picker-month-picker-hover-txt-color: $accent-color-light;
$date-picker-month-picker-hover-bg-color: $accent-color;

// Footer
$date-picker-footer-bg-color: $accent-color-light;
$date-span-color: $accent-color2;
$date-picker-footer-button-bg-color: #009688;
$date-picker-footer-button-hover-bg-color: darken($date-picker-footer-button-bg-color, 10%);
$date-picker-footer-button-txt-color: #fff;

$date-picker-footer-active-date-bg-color: rgba(#009688, 0.2);
$date-picker-footer-active-date-txt-color: darken(#009688, 5%);
$date-picker-footer-active-date-border-color: #009688;


// Interface
$date-picker-interface-txt-color: $accent-color;
$date-picker-interface-bg-color: #fefefe;
$date-picker-interface-border-color: #bbb;

$date-picker-trigger-icon-color: #555;
$date-picker-trigger-icon-hover-color: #222;


@mixin disable-text-selection
{
    -webkit-touch-callout: none; // iOS Safari 
      -webkit-user-select: none; // Safari
       -khtml-user-select: none; // Konqueror HTML
         -moz-user-select: none; // Firefox
          -ms-user-select: none; // Internet Explorer/Edge
              user-select: none; // Non-prefixed version, currently supported by Chrome and Opera
}

.day-container
{
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-gap: 5px;

    .day
    {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 45px;
        color: $date-picker-day-number-color;
        @include disable-text-selection;
    }

    .day-name
    {
        font-weight: 700;
        color: $date-picker-day-name-color;
        font-size: 1.2rem;
    }

    .day-number
    {
        border-radius: 2px;
        transition: background-color 120ms ease;
    }

    .day-name:nth-child(7),
    .day-number:nth-child(7n) {
        color: $date-picker-sunday-color;
    }

    .day-number.active,
    .day-number:hover {
        background: $date-picker-day-number-hover-bg-color;
        color: $date-picker-day-number-hover-txt-color;
        font-weight: 700;
        cursor: pointer;
    }

    .day-number.today
    {
        background: $accent-color0;
        color: $date-picker-day-number-hover-txt-color;
    }
}

// /day-container