.main-dashboard-container
{
    width: 100%;
    min-height: 100vh;
}

.row
{
    height: 100%;
}


// debug
.col1
{
    height: 100%;
    background-color: #FE3322;
}

.col2
{
    height: 100%;
    background-color: #33FE22;
}

.col3
{
    height: 100%;
    background-color: #3322FE;
}

.note-title
{
    display: inline-block;
}

.left-menu
{
  // flex-grow: 2;
  // flex-basis: max-content;
  min-width: 250px;
  // border-right: 2px solid $app-dashboard-border-color;
  border-right: 2px solid #333;
  background: linear-gradient(#090c6a, #411349);
  // height: 100vh;
  position: relative;
  z-index: 100;
  box-shadow: 3px 0 10px #888;
}


// Filters
.filters-container
{
    border: 2px solid #777;
}