.main-dashboard-container
{
    width: 100%;
    min-height: 100vh;
}

.row
{
    height: 100%;
}


// debug
.col1
{
    height: 100%;
    background-color: #FE3322;
}

.col2
{
    height: 100%;
    background-color: #33FE22;
}

.col3
{
    height: 100%;
    background-color: #3322FE;
}