// colors
$content-container-bg-color: #F5F4FB;
$main-bg-color: #FEFEFE;
$accent-color-1: #81CB8F;
$app-dashboard-border-color: #eeedf6;
// end: colors

// fonts
$main-font: 'Montserrat', sans-serif;
$monospace-main-font: 'IBM Plex Mono', 'Roboto Mono', monospace;
// end: fonts

$navmenu-menu-item-txt-color: #FFF;
$navmenu-menu-item-separator-color: #4285f4;

.navmenu-main-container
{
  width: 100%;
  display: block;
  position: sticky;
  top: 0;
  left: 0;
}

#navmenu-list // the <ul> element
{
  padding: 0;
  margin: 0;
  list-style: none;
  width: 100%;
  // background: linear-gradient(#090c6a, #61146e);
}

.navmenu-list-item
{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 10px 0px;
  // padding: 10px 2px;
  // background-color: #0d47a1;
  background-color: transparent;
  color: $navmenu-menu-item-txt-color;
  // border-bottom: 1px solid $navmenu-menu-item-separator-color;

  &:last-of-type
  {
    border-bottom: none;
  }


  &:hover
  {
    background-color: $main-navigation-active-item-bg-color;
    color: #FAFAFA;
  }
}

.navmenu-btn
{
  padding: 10px 10px;
  width: 90%;
  border: none;
  background: none;
  font-size: 1.1rem;
  font-family: $main-font;
  color: $navmenu-menu-item-txt-color;
  text-align: left;
  transition: background-color 70ms linear,
              color 70ms linear;

  // border-radius: 5px;
  border-radius: 0px;

  // &:hover
  // {
  //   background-color: #FFF;
  //   color: #222;
  // }
}

// .navmenu-list-item.active .navmenu-btn
.navmenu-list-item.active
{
  position: relative;
  background-color: $main-navigation-active-item-bg-color;
  color: #FAFAFA;
}

$size-1: 18px;
.navmenu-list-item.active::after
{
  content: "";
  display: inline-block;
  position: absolute;
  top: 23px;
  right: -10px;
  background-color: #f3f5f6;
  width: $size-1;
  height: $size-1;
  transform: rotate(45deg);
}