@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

@import "~bootstrap/scss/bootstrap";

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body
{
    font-size: 1rem;
    font-family: 'Lato', sans-serif;
}


@import "./main_dashboard";
@import "./view_navigation";
@import "./note_list";
@import "./datetime_filter";

.floating-action-btn-round
{
    position: fixed;
    bottom: 70px;
    right: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    font-weight: bold;

    box-shadow: 1px 1px 5px 0 #555;

    span
    {
        display: inline-block;
    }
}