@import "./variables/fonts";
@import "./variables/colors/colors_main";

@import "~bootstrap/scss/bootstrap";

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body
{
    font-size: 1rem;
    font-family: $main-font;
}


@import "./main_dashboard";
@import "./view_navigation";
@import "./components/pagination";
@import "./components/note_list";
@import "./components/datetime_filter";
@import "./components/filters";
@import "./components/alerts";
@import "./components/forms";

.floating-action-btn-round
{
    position: fixed;
    bottom: 70px;
    right: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    font-weight: bold;

    box-shadow: 1px 1px 5px 0 #555;

    span
    {
        display: inline-block;
    }
}